
---
const stats = [
  {
    name: 'Years',
    value: '3',
  },
  {
    name: 'Experts',
    value: '3',
  },
  {
    name: 'Projects',
    value: '8',
  },
  {
    name: 'Partners',
    value: "2",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24 justify-center">
      <div class="flex flex-col gap-10 items-center">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12 text-center">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our mission</h2>
          <div class="space-y-6">
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              At Dreamnity, our mission is to revolutionize the digital realm through a commitment
              to creativity, collaboration, and cutting-edge innovation. We aspire to create a
              vibrant ecosystem that unites customers, designers, and developers, fostering a
              dynamic exchange of ideas. Empowering individuals to transform dreams into digital
              realities, we believe in the transformative power of collaborative efforts. With a
              focus on excellence, we provide a platform where visionary concepts are brought to
              life through state-of-the-art design and development.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Our mission extends beyond conventional boundaries, aiming to be a catalyst for
              positive change in the digital landscape. We're dedicated to nurturing a culture of
              continuous learning, exploration, and growth, ensuring our community thrives in an
              ever-evolving technological landscape. Dreamnity is not just a platform; it's a
              movement that encourages individuals to push creative boundaries and challenge the
              status quo.
            </p>
            <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
              Through our mission, we strive to be the driving force behind the evolution of digital
              experiences, shaping the future of design and development. Join us on this
              transformative journey where imagination knows no limits, and together, we'll build a
              digital world that reflects the dreams and aspirations of our global community.
              Dreamnity: Inspiring Innovation, Empowering Dreams.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="rounded-3xl border border-primary-900/10 p-6 dark:border-primary-300/10">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
