---
const values = [
  [
    {
      ref: '01',
      name: 'Excellence',
      description:
`
At Dreamnity, excellence is not just a goal; it's our standard. We consistently strive for perfection in every facet, be it design, development, or service delivery. With a relentless pursuit of quality, we redefine industry standards and set a benchmark for excellence that resonates throughout our organization. Dreamnity: Where excellence is not an option but a commitment.`
    },
    {
      ref: '02',
      name: 'Innovation',
      description:
`
Innovation is the heartbeat of Dreamnity. Fueled by creativity and a passion for progress, we embrace the ever-changing landscape of technology. At Dreamnity, we don't just adapt to trends; we set them. Our commitment to innovation is woven into the fabric of our organization, driving us to explore new horizons and pioneer cutting-edge solutions. Dreamnity: Where imagination meets innovation, shaping the future of possibilities.`
    },
  ],
  [
    {
      ref: '03',
      name: 'Teamwork',
      description:
`
Teamwork is the cornerstone of Dreamnity's success. We believe in the collective strength of diverse talents coming together, fostering an environment where collaboration thrives. At Dreamnity, every team member is a valued contributor, bringing unique perspectives to the table. Our commitment to teamwork fuels creativity, accelerates problem-solving, and propels us towards shared goals. Dreamnity: Where unity in diversity fuels our collective journey towards excellence.`
    },
    {
      ref: '04',
      name: 'Respect',
      description:
`Respect is the compass guiding Dreamnity's culture. In our organization, every individual's voice is heard, ideas are valued, and differences are celebrated. We believe that fostering a culture of mutual respect lays the foundation for collaboration and innovation. At Dreamnity, respect is not just a virtue; it's a fundamental principle that shapes our interactions and defines the strength of our community. Dreamnity: Where respect is the key to unlocking the full potential of every individual.`
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Our Values</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
