---
const { title } = Astro.props;
---

<section class="py-1 sm:py-2">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-row gap-4 sm:gap-6 items-center justify-center">
      <hr style="width: 20vw" />

      <h2 class="text-3xl font-medium tracking-tight sm:text-3xl lg:text-3xl">{title}</h2>
      <hr style="width: 20vw" />
    </div>
  </div>
</section>
