---
const testimonials = [
  {
    name: 'Mr.Shayan',
    description: 'System Admin @ Sneaky Nodes',
    image:
      'https://cdn.discordapp.com/attachments/1177993413333885111/1188438688858910741/e52bcedd55e0fb7a272ce1c7d666caea.png?ex=659a86c7&is=658811c7&hm=466d4db7f6177c53b89371c3daf45d9dc3f9362c356c6bfa796c97da2f1645f8&',
    message:
      'Dreamnity is an amazing orgnaisation with good staff; delivers their promise with their full efforts. Dreamnity ensures the best care of their members and their clients. Dreamnity is not only a server where a person can utilize their resources, but is also a server where they can learn stuff.',
  },
  {
    name: 'Ahoemi',
    description: 'Moderator @ GitHub',
    image:
    'https://cdn.discordapp.com/attachments/1177993413333885111/1189235602651086909/image01.png?ex=659d6cf6&is=658af7f6&hm=26514be6a14e31d2aab79070a39b2ca018353c969fedfacb5b94d2d6b435c2c0&',
    message: `Dreamnity impresses with a flexible open-supply portfolio. Their impact spans creative designs/developments, realistic tools, and empowering frameworks, making Dreamnity a valuable resource for developers.`,
  },
{
    name: 'Rahul',
    description: 'Founder @ Simply Develop',
    image:
    'https://cdn.discordapp.com/attachments/1177993413333885111/1189229034882732154/076eb8a51b0eadb2ab586ef32cd9306b.png?ex=659d66d8&is=658af1d8&hm=24e0ce3e7c1dc0f3a263e1ef23044800b63ef82cd0eb9c6a07be780c0d9a9a1e&',
    message: `I really like the way they designs and got the best art. I really love it. They deliver what they assure you without compromising anything on quality. Its also a fun community that helps u to learn new stuff. they also make bots which are cool.`,
  },
];
---

<section class="py-16 sm:py-20">
  <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="mx-auto max-w-xl text-center text-3xl font-medium tracking-tight sm:text-4xl">
        Trusted by many professionals
      </h2>
      <div
        class="grid divide-y divide-primary-900/10 dark:divide-primary-300/10 lg:grid-cols-3 lg:divide-x lg:divide-y-0"
      >
        {
          testimonials.map((testimonial) => (
            <figure class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
              <div class="flex flex-row gap-2">
                {[...Array(3)].map(() => (
                  <svg
                    class="h-6 w-6 text-primary-600 dark:text-primary-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
                  </svg>
                ))}
              </div>
              <blockquote class="text-center text-lg italic leading-loose text-primary-950/70 dark:text-primary-200/70">
                <p>{testimonial.message}</p>
              </blockquote>
              <figcaption class="flex flex-col gap-4">
                <img class="mx-auto h-8 w-8 rounded-full" src={testimonial.image} alt="" />
                <div class="text-center">
                  <div class="text-base font-medium">{testimonial.name}</div>
                  <div class="text-sm text-primary-950/70 dark:text-primary-200/70">
                    {testimonial.description}
                  </div>
                </div>
              </figcaption>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>
